:root {
  // font-family
  --ff-primary: "GT Flexa Ext", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --ff-secondary: "Peak Rounded";
  --ff-tertiary: "GT Flexa Medium";

  // colors
  --clr-transparent: transparent;
  --clr-white: hsl(0 0% 100%);
  --clr-floral-white: hsl(44 100% 97%);
  --clr-black: hsl(0 0% 0%);
  --clr-yellow: hsl(43 100% 50%);
  --clr-orange: hsl(25 100% 53%);
  --clr-indigo: hsl(266 100% 50%);
  --clr-light-blue: hsl(234 100% 79%);
  --clr-blue: hsla(234 100% 50% / 0.35);
  --clr-dark-blue: hsla(234 100% 50% / 0);

  // gradients
  // --gradient-orange: linear-gradient(315.01deg, var(--clr-orange) 8.31%, var(--clr-yellow) 88.22%);
  --gradient-orange: linear-gradient(
    to top left,
    hsl(43.06, 100%, 50%) 0%,
    hsl(42.78, 100%, 50.33%) 5.6%,
    hsl(42.19, 100%, 50.65%) 12.4%,
    hsl(41.33, 100%, 50.95%) 20%,
    hsl(40.22, 100%, 51.23%) 28.3%,
    hsl(38.91, 100%, 51.5%) 37%,
    hsl(37.41, 100%, 51.74%) 46%,
    hsl(35.77, 100%, 51.97%) 55%,
    hsl(34.04, 100%, 52.18%) 63.7%,
    hsl(32.26, 100%, 52.37%) 72%,
    hsl(30.49, 100%, 52.53%) 79.6%,
    hsl(28.81, 100%, 52.67%) 86.4%,
    hsl(27.32, 100%, 52.78%) 92%,
    hsl(26.1, 100%, 52.87%) 96.3%,
    hsl(25.29, 100%, 52.92%) 99%,
    hsl(25, 100%, 52.94%) 100%
  );
  // --gradient-light-blue: linear-gradient(155.92deg, var(--clr-light-blue) 5.36%, var(--clr-dark-blue) 85.08%);
  --gradient-light-blue: linear-gradient(
    155deg,
    hsl(234.12, 100%, 50%) 0%,
    hsl(234.12, 100%, 50%) 8.1%,
    hsl(234.12, 100%, 50%) 15.5%,
    hsl(234.12, 100%, 50%) 22.1%,
    hsl(234.12, 100%, 50%) 28.2%,
    hsl(234.12, 100%, 50%) 33.9%,
    hsl(234.12, 100%, 50%) 39.4%,
    hsl(234.12, 100%, 50%) 44.7%,
    hsl(234.12, 100%, 50%) 50.1%,
    hsl(234.12, 100%, 50%) 55.6%,
    hsl(234.12, 100%, 50%) 61.4%,
    hsl(234.12, 100%, 50%) 67.7%,
    hsl(234.12, 100%, 50%) 74.5%,
    hsl(234.12, 100%, 50%) 82.1%,
    hsl(234.12, 100%, 50%) 90.5%,
    hsl(234.12, 100%, 50%) 100%
  );
  // --gradient-blue: linear-gradient(154.45deg, var(--clr-blue) -60.92%, var(--clr-dark-blue) 34.15%, var(--clr-blue) 108.43%);
  --gradient-blue: linear-gradient(
    154deg,
    hsla(234.12, 100%, 50%, 0.35) 0%,
    hsla(234.12, 100%, 50%, 0.299) 8.1%,
    hsla(234.12, 100%, 50%, 0.257) 15.5%,
    hsla(234.12, 100%, 50%, 0.223) 22.1%,
    hsla(234.12, 100%, 50%, 0.196) 28.2%,
    hsla(234.12, 100%, 50%, 0.174) 33.9%,
    hsla(234.12, 100%, 50%, 0.156) 39.4%,
    hsla(234.12, 100%, 50%, 0.142) 44.7%,
    hsla(234.12, 100%, 50%, 0.13) 50.1%,
    hsla(234.12, 100%, 50%, 0.118) 55.6%,
    hsla(234.12, 100%, 50%, 0.106) 61.4%,
    hsla(234.12, 100%, 50%, 0.093) 67.7%,
    hsla(234.12, 100%, 50%, 0.077) 74.5%,
    hsla(234.12, 100%, 50%, 0.057) 82.1%,
    hsla(234.12, 100%, 50%, 0.031) 90.5%,
    hsla(234.12, 100%, 50%, 0) 100%
  );
  --gradient-transparent: linear-gradient(to bottom, transparent, transparent);

  // border
  --brdr-size: 2px;
  --brdr-clr: var(--clr-white);
  --brdr-radius-round: 100vmax;
  --brdr-radius-md: 12px;

  // animation
  --anim-dur: 0.3s;
  --anim-easing: cubic-bezier(0.4, 0.4, 0.7, 0.85);

  @media (--xl-n-above) {
    --brdr-size: 3px;
  }
}

// 320
@custom-media --xs-only (0px <= width <= 20em);
@custom-media --xs-n-above (width >= 20em);
@custom-media --xs-n-below (width < 20em);

// 480
@custom-media --sm-only (20em <= width <= 30em);
@custom-media --sm-n-above (width >= 30em);
@custom-media --sm-n-below (width < 30em);

// 800
@custom-media --md-only (30em <= width <= 50em);
@custom-media --md-n-above (width >= 50em);
@custom-media --md-n-below (width < 50em);

// 1024
@custom-media --lg-only (50em <= width <= 64em);
@custom-media --lg-n-above (width >= 64em);
@custom-media --lg-n-below (width < 64em);

// 1200
@custom-media --desktop-only (64em <= width <= 75em);
@custom-media --desktop-n-above (width >= 75em);
@custom-media --desktop-n-below (width < 75em);

// 1440
@custom-media --xl-only (64em <= width <= 90em);
@custom-media --xl-n-above (width >= 90em);
@custom-media --xl-n-below (width < 90em);
